@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-img{
  background-image: url(./assets/images/gaming.png);
}
.backgroundwhite{
  background-size: 100% 100%;
  background-image: url(./assets/images/backgroundwhite.png);
}
.backgroundpic{
  background-size: 100% 100%;
  background-image: url(./assets/images/backgroundpic.png);
}
.backgroundotpic{
  background-image: url(./assets/images/backgroundotpic.png);
}
.bg-game{
  background-image: url(./assets/images/bg-game.webp);
  background-size: 100% 100%;
}
.backgroundotpic{
  background-image: url(./assets/images/backgroundpic25.png);
}
.backgroundpic28{
  background-image: url(./assets/images/backgroundpic28.png);
}

.backgroundpic30{
  background-image: url(./assets/images/backgroundpic30.png);
  background-size: 100% 100%;
}
 